In [ ]:
import pandas as pd 
df1=pd.read_csv("C:\\Users\\Rahul\\Downloads\\df1_c.csv")
df2=pd.read_csv("C:\\Users\\Rahul\\Downloads\\df2_c.csv")
merged_df=pd.merge(df1,df2,on='customer_id')

In [ ]:
merged_df

In [ ]:
#captalize the names
merged_df['name'].str.title()

In [ ]:
#replace unknown emails with their name 
merged_df['email'].fillna(merged_df['name'].str.replace(' ','').str.lower()+'@example.com')
merged_df

In [ ]:
customer_df=merged_df

In [ ]:
#fill amount with mean value
customer_df['amount'].fillna(customer_df['amount'].mean())
customer_df

In [ ]:
#removing hyphen
customer_df['phone']=customer_df['phone'].str.replace('-','')
customer_df

In [ ]:
#extracting codes
customer_df['Code']=customer_df['address'].str.slice(-8,-6)
customer_df['phone']=customer_df['phone'].astype(str)
customer_df

In [ ]:
def formate_phone(customer_df):
    l=len(customer_df['phone'])
    for i in range(l):
        if len(customer_df['phone'][i])>10 or len(customer_df['phone'][i])<10:
            customer_df['phone'][i]='0'
        elif customer_df['Code'][i] == 'IN':
            customer_df['phone'][i]='+91 '+str(customer_df['phone'][i])
        elif customer_df['Code'][i] == 'AE':
            customer_df['phone'][i]='+971 '+str(customer_df['phone'][i])
        elif customer_df['Code'][i] == 'FM':
            customer_df['phone'][i]='+691 '+str(customer_df['phone'][i])
        elif customer_df['Code'][i] == 'PW':
            customer_df['phone'][i]='+680 '+str(customer_df['phone'][i])
        else:
            customer_df['phone'][i]='+1 '+str(customer_df['phone'][i])  
        
    return customer_df
formate_phone(customer_df)

In [ ]:
customer_df.to_csv('cleaned.csv',index=False)

In [107]:
customer_df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location,Code
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,8,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York,AE
1,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,427,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago,CA
2,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,452,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online,OR
3,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,470,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles,CT
4,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,857,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,+1 5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,532,759.38,2025-03-14 16:56:22,Home,PayPal,New York,KY
996,995,Deanna Johnson,ycook@example.org,+1 5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",01-11-2023,Silver,617,821.18,2025-01-23 07:39:19,Electronics,Debit Card,Miami,KY
997,997,Jodi Simpson,eric24@example.org,+1 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,45,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles,AL
998,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,304,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago,DE
999,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,886,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online,DE